{:paths []
 :tasks {:requires ([babashka.fs :as fs])
         :init     ()
         clean     (do (doseq [tree ["node_modules" ".shadow-cljs"]]
                         (fs/delete-tree tree))
                       (shell "pnpm install"))
         dev       {:depends [clean]
                    :task (do (fs/delete-tree "dist")
                              (shell "./node_modules/.bin/shadow-cljs watch develop"))}
         build     {:depends [clean]
                    :task (do (fs/delete-tree "dist")
                              (shell "./node_modules/.bin/shadow-cljs release plugin"))}}}