{:source-paths ["src/dev" "src/main" "src/test"]

 :dependencies
 [[lambdaisland/uri "1.16.134"]
  [cljs-http "0.1.48"]
  [org.clj-commons/hickory "0.7.3"]]

 :nrepl {:port 8702}

 :builds
 {:develop {:target :browser
            :output-dir "dist"
            :dev {}
            :modules {:main {:init-fn core/init}}}
  :plugin {:target :browser
           :output-dir "dist"
           :modules {:main {:init-fn core/init}}
           :release {:compiler-options {:optimizations :advanced}}}}}
